<!DOCTYPE html>
<html>

<% include templates/head %>

<body id='discoveroute' class='case-page'>

<nav class='nav-roundslide'>
<div class='hide-for-touch back'>
	<a class='fa fa-chevron-left' href='../'><h1>Back</h1></a>
</div>
	<ul class='hide-for-touch dot-nav'>
		<li>
			<a class='dotstyle current' href='#overview'>
				<h1>Overview</h1>
			</a>
		</li>
		<li>
			<a class='dotstyle' href='#needfinding'>
				<h1>Needfinding</h1>
			</a>
		</li>
		<li>
			<a class='dotstyle' href='#prototyping'>
				<h1>Prototyping</h1>
			</a>
		</li>
		<li>
			<a class='dotstyle' href='#user-testing'>
				<h1>User Testing</h1>
			</a>
		</li>		
	</ul>
</nav>

<div class='row case-study' id='discoveroute-page'>
	<div class='large-11 large-centered columns'>
		<div class='row'>
			<section id='smartcart-brief'>
				<div class='small-12 medium-8 columns'>
					<div class='row'>
						<div class='small-8 medium-12 columns'>
							<h3 class='title-underline'>discoveroute</h3>
						</div>
						<div class='small-4 show-for-small-only columns case-title-img-small' style='background-image: url("images/discoveroute/drlogo.png")'>
						</div>
					</div>
					<div class='row'>
						<div class='small-12 columns'>
							<p>Winter 2014<br />
							<em>Technologies</em> : node.js, MongoDB, Bootstrap <br />
							<em>Website</em> : <a href='http://discoveroute.com/'>http://discoveroute.com/</a> &nbsp;
							<span class='social-media'><a href='https://github.com/hwray/discoveroute' target='_blank'>
								<i class='fa fa-github'></i></a></span>
							</p>
						</div>
					</div>
					<div class='row'>
						<div class='medium-12 columns'>
						<p>
							As citizens of the smartphone era, we use our mobile maps to get everywhere. However, traveling from point A to point B doesn't take in account the needs of busy people with multiple stops or adventurers with time to spare. We set out to help people with two goals: find new, interesting <em>places along a path</em> and with <em>time efficiency</em>.
						</p>
						</div>
					</div>
				</div>
				<div class='medium-4 hide-for-small-only columns'>
					<div class='case-title-img'>
						<img src='images/discoveroute/drlogo.png' />
					</div>
				</div>
			</section>
		</div>
		<div class='row'>
			<div class='case-content large-12 columns'>
				<section id='overview'>
					<hr class='indent' /><h5>Find new places by old spaces. </h5>
					<p>Discoveroute provides time- and route-constrainted local business search. Whether you need a coffee rush while on your way to work, or you and a friend want to meet halfway at a bar or restaurant, the mobile web app shows the visual mapping of these places and ensures you make your final destination on time.
					</p>

					<figure>
						<img src='images/discoveroute/discoverouteDisplays.png'>
					</figure>

				</section>
				<section id='needfinding'>
					<hr class='indent' /><h5>Needfinding </h5>
					<p>Oftentimes, traveling ends up more about getting to the final destination than about the actual journey. While observing people planning trips, we learned that finding new or convenient places is a major hassle. Current maps don't take into account areas between routes or extraneous travel time.
					</p>

					<blockquote cite='https://www.facebook.com/discoveroute'>To plan my outings, [I want to find] cool things to check out or places to eat on my way to an event to make the most of my travel time. <footer>- Vivian Lam</footer></blockquote>

				</section>

				<section id='prototyping'>
					<hr class='indent' /><h5>Prototyping</h5>
					<p>The process began with a <a href='https://docs.google.com/document/d/11eNJOrABNe7P4Xs9IKNGPyz6dUSsuQMSZ5wvuiUBW80/edit?usp=sharing'>few</a> <a href='https://docs.google.com/document/d/1z_q_SwTqsinrGJ1TNQXWabihAjNLDqWnKBmyyFbn070/edit?usp=sharing'>different</a> <a href='https://docs.google.com/document/d/1fAIzg-hUR5z3vHOmQqJj79KRR4lu2jXnr57k1eWL4YY/edit?usp=sharing'>ideas</a> prototyped in parallel. By starting with paper prototypes, we were able to conduct '<a href='http://en.wikipedia.org/wiki/Wizard_of_Oz_experiment'>wizard of oz experiments</a>' to see which components met the users' needs and which didn't.
					</p>

					<figure>
						<img src='images/discoveroute/drPaperProto.png'>
						<figcaption>one of the heuristic walkthrough prototypes</figcaption>
					</figure>

					<p>One of the main takeaways from the heuristic walkthroughs was that the navigation needed much more refinement. We iterated on potential flows with rough UI mockups. Throughout, our focus was for the interaction to be straightforward but also allow for non-linearity. We tested these models, and once we finalized the navigation, created high-fidelity mockups.</p>

					<figure>
						<img src='images/discoveroute/drIterations.png'>
						<figcaption>various iterations of navigation and interaction</figcaption>
					</figure>

					<figure>
						<img src='images/discoveroute/drHiFi.png'>
						<figcaption>high fidelity mockups</figcaption>
					</figure>

				</section>

				<section id='user-testing'>
					<hr class='indent' /><h5>User Testing</h5>
					<p>After multiple iterations of a functional product, we began user testing with a combination of cognitive walkthroughs and online tests. We started off by following a <a href='https://docs.google.com/document/d/1a1L0jkwwLmKdiEOPClTPE6Aj004j0z8gdkn3lhZjFXA/edit#bookmark=id.rizcytbtr6h'>usability script</a> we wrote, but listed a number of activities and actions to look out for.</p>

					<p>One major issue we investigated was in selecting categories. It was unclear that multiple categories could be selected, and very few people attempted to. In <a href='https://docs.google.com/document/d/1a1L0jkwwLmKdiEOPClTPE6Aj004j0z8gdkn3lhZjFXA/edit#bookmark=id.c536mr1lj6zh'>redesigning</a> this part of the interaction, we narrowed it down to two to run an A/B test on. After running an online A/B test, we confirmed our <a href='https://docs.google.com/document/d/1a1L0jkwwLmKdiEOPClTPE6Aj004j0z8gdkn3lhZjFXA/edit#'>test results</a> with cognitive walkthroughs. The monochrome version was incorporated into the final design, since it had clearer actions and resulted in less button mashing.
					</p>

					<figure>
						<img src='images/discoveroute/drABTest.png'>
						<figcaption>A/B testing with original (left) and monochrome redesign (right)</figcaption>
					</figure>

				</section>
			</div>
		</div>
	</div>
</div>
<footer class='row'>
	<div class='large-12 large-centered columns light center'>
		<hr class='center'></hr>
		 <p>Elaine Zhou • 2015</p>
	</div>
</footer>

<% include templates/scripts %>

</body>
</html>