<!DOCTYPE html>
<html>

<% include templates/head %>

<body id='bdp' class='case-page'>

<nav class='nav-roundslide'>

	<% include templates/navback %>  
	
	<ul class='hide-for-touch dot-nav'>
		<li>
			<a class='dotstyle current' href='#overview'>
				<h1>Overview</h1>
			</a>
		</li>
		<li>
			<a class='dotstyle' href='#inspiration'>
				<h1>Inspiration</h1>
			</a>
		</li>		
		<li>
			<a class='dotstyle' href='#process'>
				<h1>Process</h1>
			</a>
		</li>		
	</ul>
</nav>

<div class='row case-study' id='bdp-page'>
	<div class='large-11 large-centered columns'>
		<div class='row'>
			<section id='bdp-brief'>
				<div class='small-12 medium-8 columns'>
					<div class='row'>
						<div class='small-8 medium-12 columns'>
							<h3 class='title-underline'>HCI Research</h3>
						</div>
						<div class='small-4 show-for-small-only columns case-title-img-small' style='background-image: url("images/bdp.png")'>
						</div>
					</div>
					<div class='row'>
						<div class='small-12 columns'>
							<p>
							Spring 2013; Winter 2015 - present <br />
							<em>Paper</em> : <a href='http://dl.acm.org/citation.cfm?id=2514732'>http://dl.acm.org/citation.cfm?id=2514732</a>
							</p>
						</div>
					</div>
					<div class='row'>
						<div class='medium-12 columns'>
						<span class='radius label'><p><i class='fa fa-star'></i>&nbsp;&nbsp; 2013 UIST Poster Presenter</p></span>
						<span class='radius label'><p><i class='fa fa-star'></i>&nbsp;&nbsp; 2015 UAR Minor Grant Winner</p></span>
						<br /><br />
						<p>
							Although constraints are inherent to any creative design, constraints are not static, but rather dynamic, as problems and solutions evolve together. This research investigates if narrowing design constraints at various stages of the design process affects final creative results in an iterative and parallel prototyping process. 
						</p>
						</div>
					</div>
				</div>
				<div class='medium-4 hide-for-small-only columns'>
					<div class='case-title-img'>
						<img src='images/bdp.png' />
					</div>
				</div>
			</section>
		</div>
		<div class='row'>
			<div class='case-content large-12 columns'>
				<section id='overview'>
					<hr class='indent' /><h5>Overview</h5>
 
					<p>This is part of currently ongoing research on varying constraints in the design process. Groups presented to narrowed constraints at various stages in the design process yielded varying degress of creative results. Results indicate that those who brainstormed and prototyped before receiving the narrow constraints yielded results that were both more novel and more appropriate than other groups. This research project at the 2013 <a href='http://uist.acm.org'>ACM Symposium on User Interface Software Technology (UIST)</a> in St. Andrews, Scotland. 
					</p>

					<figure>
						<img src='images/UIST.png'>
						<figcaption>2013 ACM UIST in St. Andrews, Scotland</figcaption>
					</figure>

				</section>

				<section id='inspiration'>
					<hr class='indent' /><h5>Inspiration</h5>
 
					<p>During my sophomore year, I helped a health startup brainstorm and define their next product with a team of Stanford students. Initially, their team told us to “Shoot for the stars!” with essentially no restrictions or requirements. However, our ideas were met with resistance and new specifications that we had to include. One day, it had to be a “social network”, and the next day it was “hyper-local.” My teammates were livid, because the startup didn’t define the problem at all! However, what they saw as a lack of communication and clarity of the end result, I saw as additional design constraints.<br /><br />

					This got me thinking – traditionally designers like to work with all of the information at the start, but does that introduce too much detail? What exactly is the effect on delaying constraints in the creative process? Can we optimize individual creativity by changing the presentation of the problem to gradual pieces and bite-size chunks? This was the inspiration behind the research.
					</p>
				</section>

				<section id='process'>
					<hr class='indent' /><h5>Process</h5>
 
					<p>The study manipulates the structure of the design process in creating a web ad, as shown below. Participants were separated into 3 groups, defined by whether a narrow constraint was introduced early, middle, or late in the process. In the initial prompt, the task was to design a static web ad for Stanford University. The narrowed constraint was: the ad must be 160 x 600 pixels (2.6 inches x 10 inches) and targeted towards those interested in medicine.
					</p>

					<figure>
						<img src='images/studyOverview.png'>
						<figcaption>Study Overview</figcaption>
					</figure>
				</section>

			</div>
		</div>
	</div>
</div>
<footer class='row'>
	<div class='large-12 large-centered columns light center'>
		<hr class='center'></hr>
		 <p>Elaine Zhou • 2015</p>
	</div>
</footer>

<% include templates/scripts %>

</body>
</html>