<!DOCTYPE html>
<html>

<% include templates/head %>

<body id='sixdegree' class='case-page'>

<nav class='nav-roundslide'>
<div class='hide-for-touch back'>
	<a class='fa fa-chevron-left' href='../#projects'><h1>Back</h1></a>
</div>
	
	<ul class='hide-for-touch dot-nav'>
		<li>
			<a class='dotstyle current' href='#overview'>
				<h1>Overview</h1>
			</a>
		</li>
		<li>
			<a class='dotstyle' href='#seekers'>
				<h1>Job Seekers</h1>
			</a>
		</li>		
		<li>
			<a class='dotstyle' href='#recruiters'>
				<h1>Recruiters</h1>
			</a>
		</li>		
	</ul>
</nav>

<div class='row case-study' id='sixdegree-page'>
	<div class='large-11 large-centered columns'>
		<div class='row'>
			<section id='sixdegree-brief'>
				<div class='small-12 medium-8 columns'>
					<div class='row'>
						<div class='small-8 medium-12 columns'>
							<h3 class='title-underline'>sixdegree</h3>
						</div>
						<div class='small-4 show-for-small-only columns case-title-img-small' style='background-image: url("images/sixdegree/respInsta.png")'>
						</div>
					</div>
					<div class='row'>
						<div class='small-12 columns'>
							<p>
							Winter 2014 <br />
							<em>Tools</em> : Adobe Photoshop, After Effects <br />
							</p>
						</div>
					</div>
					<div class='row'>
						<div class='medium-12 columns'>
						<p>
							With various social networks such as LinkedIn, Facebook, Twitter, our second, and third connections link us to millions of professionals. However, there's very little understanding of how these groups of people might be connected. SixDegree is a conceptual tool that helps job seekers and recruiters alike to gain context and insight into one's aggregated networks.
						</p>
						</div>
					</div>
				</div>
				<div class='medium-4 hide-for-small-only columns'>
					<div class='case-title-img'>
						<img src='images/SixDegreeFinal.png' />
					</div>
				</div>
			</section>
		</div>
		<div class='row'>
			<div class='case-content large-12 columns'>
				<section id='overview'>
					<hr class='indent' /><h5>Overview</h5>
 
					<p>Six Degree is composed of two parts: a job seeker platform and a recruiter platform. Both aggregate one's social networks and aim to help people organize their socio-professional network in an insightful and meaningful way. Whether you're loooking for a summer internship or reaching out to a potential new hire, knowing who knows who is important.</p>
				</section>

				<section id='seekers'>
					<hr class='indent' /><h5>For Job Seekers</h5>
					<p>
						Interviews with students revealed that sometimes landing a job requires reaching out to a brother's ex-roommate or a mentor's other mentee. Sociologist Mark Granovetter's research also asserts that <a href='https://sociology.stanford.edu/sites/default/files/publications/the_strength_of_weak_ties_and_exch_w-gans.pdf'>less direct, second and third degree relationships are most effective in opening new opportunities</a>. In fact, many of the students we talked to were cognizant of this fact. Unfortunately, there's no way to discover distant, but efficacious relationships without manually crawling through contact lists or relying on luck. SixDegree aimed to weight and relationps to help people find distant degree connections with a strong relationship path.
					</p>
					<blockquote>
						I know people who know people in journalism, but I don't know which of them to ask for help.
					<footer>-Stanford Student</footer>
					</blockquote>
						

					<div class='video-wrapper'>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/oX1zUhBw6ak" frameborder="0" allowfullscreen></iframe>
					</div>

				</section>

				<section id='recruiters'>
					<hr class='indent' /><h5>For Recruiters</h5>
					<p>
						Networking is a two-sided coin, and our interviews revealed that recruiters have similar problems for slightly different reasons. Recruiters currently suffer low yield, scattering their time across various sources. Follow-up and follow-through are the most difficult components of recruiting, so SixDegree aimed to improve on  recruiter-candidate communication channels. 
					</p>
					<blockquote>
						Talking with a potential recruit shouldn't feel like a stranger.
					<footer>-Michael Page recruiter</footer>
					</blockquote>

					<div class='video-wrapper'>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/8xVA8M-pu1U" frameborder="0" allowfullscreen></iframe>
					<figure>
						<figcaption>Recruiter UI video by Andy Elder</figcaption>
					</figure>
					</div>

				</section>

			</div>
		</div>
	</div>
</div>
<footer class='row'>
	<div class='large-12 large-centered columns light center'>
		<hr class='center'></hr>
		 <p>Elaine Zhou • 2015</p>
	</div>
</footer>

<% include templates/scripts %>

</body>
</html>