<!DOCTYPE html>
<html>

<% include templates/head %>

<body id='smartcart' class='case-page'>

<nav class='nav-roundslide'>
	<ul class='show-for-medium-up hide-for-touch'>
		<li>
			<a class='dotstyle current' href='#needfinding'>
				<h1>Needfinding</h1>
			</a>
		</li>
		<li>
			<a class='dotstyle' href='#prototyping'>
				<h1>Prototyping</h1>
			</a>
		</li>
		<li>
			<a class='dotstyle' href='#user-testing'>
				<h1>User Testing</h1>
			</a>
		</li>		
	</ul>
</nav>

<div class='row case-study' id='smartcart-page'>
	<div class='large-11 large-centered columns'>
		<div class='row'>
			<div class='medium-8 columns'>
				<h3 class='title-underline'>SmartCart</h3>
				<div class='row'>
					<div class='medium-12 small-8 columns'>
						<p><i>Technologies</i> : Android, AutoCAD <br />
						<i>Website</i> : <a href='http://smartcart247.weebly.com/'>http://smartcart247.weebly.com/</a></p>
					</div>
					<div class='small-4 show-for-small-only columns'>
						<div class='wrapper'>
						<div class='case-title-img'>
							<img src='images/smartcartNew.png' />
						</div>
					</div>
					</div>
				</div>
				<div class='row'>
					<div class='medium-12 columns'>
					<p>
						<%- project.content %>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					</p>
					</div>
				</div>
			</div>
			<div class='medium-4 hide-for-small-only columns'>
				<div class='case-title-img'>
					<img src='images/smartcartNew.png' />
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='case-details large-12 columns'>
				<section id='needfinding'>
					<div class='case-section-title'>
						<span><hr class='indent'></hr></span><h5>Needfinding</h5>
					</div>
					<div class='case-section-content'>
						<p>User Testing revealed a few usability issues that were fixed for the final version.
						One problem was confusion in selecting categories. The original version was a chromatic display that showed a thin white border around a selected category. This was too subtle a response.</p>

						<blockquote>Lorem ipsum dolor. That is what.<footer>- she</footer></blockquote>

						<p>After running an A/B test through Google Analytics, number of clicks on a monochromatic redesign versus the original were measured. The monochrome version had clearer actions and resulted in less button mashing. </p>
					</div>
				</section>

				<section id='prototyping'>
					<div class='case-section-title'>
						<span><hr class='indent'></hr></span><h5>Prototyping</h5>
					</div>
					<div class='case-section-content'>
						<p>User Testing revealed a few usability issues that were fixed for the final version.
						One problem was confusion in selecting categories. The original version was a chromatic display that showed a thin white border around a selected category. This was too subtle a response.</p>

						<figure class='img-wrapper center'>
							<img src='images/discoverouteDisplays.png'>
							<figcaption>caption - this is a screenshot.</figcaption>
						</figure>

						<p>After running an A/B test through Google Analytics, number of clicks on a monochromatic redesign versus the original were measured. The monochrome version had clearer actions and resulted in less button mashing. </p>
					</div>
				</section>

				<section id='user-testing'>
					<div class='case-section-title'>
						<span><hr class='indent'></hr></span><h5>User Testing</h5>
					</div>
					<div class='case-section-content'>
						<p>User Testing revealed a few usability issues that were fixed for the final version.
						One problem was confusion in selecting categories. The original version was a chromatic display that showed a thin white border around a selected category. This was too subtle a response.</p>

						<div class='wrapper center'>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/7QvktffdVp4" frameborder="0" allowfullscreen></iframe>
						</div>

						<p>After running an A/B test through Google Analytics, number of clicks on a monochromatic redesign versus the original were measured. The monochrome version had clearer actions and resulted in less button mashing. </p>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<footer class='row'>
	<div class='large-12 large-centered columns light center'>
		<hr class='center'></hr>
		 <p>Elaine Zhou • 2015</p>
	</div>
</footer>

<% include templates/scripts %>

</body>
</html>