<!DOCTYPE html>
<html>

<% include templates/head %>

<body id='smartcart' class='case-page'>

<nav class='nav-roundslide'>
<div class='hide-for-touch back'>
	<a class='fa fa-chevron-left' href='../'><i></i><h1>Back</h1></a>
</div>
	<ul class='hide-for-touch dot-nav'>
		<li>
			<a class='dotstyle current' href='#overview'>
				<h1>Overview</h1>
			</a>
		</li>
		<li>
			<a class='dotstyle' href='#prototyping'>
				<h1>Prototyping</h1>
			</a>
		</li>
		<li>
			<a class='dotstyle' href='#user-testing'>
				<h1>User Testing</h1>
			</a>
		</li>		
	</ul>
</nav>

<div class='row case-study' id='smartcart-page'>
	<div class='large-11 large-centered columns'>
		<div class='row'>
			<section id='smartcart-brief'>
				<div class='small-12 medium-8 columns'>
					<div class='row'>
						<div class='small-8 medium-12 columns'>
							<h3 class='title-underline'>SmartCart</h3>
						</div>
						<div class='small-4 show-for-small-only columns case-title-img-small' style='background-image: url("images/smartcart/smartcartNew.png")'>
						</div>
					</div>
					<div class='row'>
						<div class='small-12 columns'>
							<p>
							Winter 2013 <br />
							<em>Technologies</em> : Android, AutoCAD <br />
							<em>Website</em> : <a href='http://smartcart247.weebly.com/'>http://smartcart247.weebly.com/</a> &nbsp;
							<span class='social-media'><a href='https://github.com/cs247stanford/smartcart' target='_blank'>
								<i class='fa fa-github'></i></a></span>
							</p>
						</div>
					</div>
					<div class='row'>
						<div class='medium-12 columns'>
						<span class='radius label'><p><i class='fa fa-star'></i>&nbsp;&nbsp; CS247 Instructor's Choice Award</p></span>
						<br /><br />					
						<p>
							For many people, a weekly trip to the grocery store is a necessary evil. Stores are difficult to navigate, items are hard to find or forgotten, and waiting to check out is a pain. We set out to tackle two major pain points in the grocery shopping experience: <em>finding items</em> and <em>checking out</em>.
						</p>
						</div>
					</div>
				</div>
				<div class='medium-4 hide-for-small-only columns'>
					<div class='case-title-img'>
						<img src='images/smartcart/smartcartNew.png' />
					</div>
				</div>
			</section>
		</div>
		<div class='row'>
			<div class='case-content large-12 columns'>
				<section id='overview'>
					<hr class='indent' /><h5>Shop Smarter</h5>
					<p>SmartCart guides shoppers through grocery stores. The android tablet and enclosure allows buyers to scan items at their own pace and preference, accommodating different modes of shopping from predetermined lists to impulse buying. With SmartCart, there's no need for checkout lines - simply exit the store and confirm the final payment. </p>

					<div class='video-wrapper'>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/7QvktffdVp4" frameborder="0" allowfullscreen></iframe>
					</div>

				</section>

				<section id='prototyping'>
					<hr class='indent' /><h5>Prototyping</h5>
					<p>Needfinding in this project began with talking with shoppers about supermarket frustrations, following their shopping habits, and talking with employees about self-checkout hassles and inefficiencies. After considering a number of <a href='http://smartcart247.weebly.com/prototyping.html'>prototypes</a>, we decided on a tablet app. 
					</p>

					<figure>
						<img src='images/smartcart/007.png' />
						<figcaption>initial mockup of adding items (Photoshop)</figcaption>
					</figure>

				</section>

				<section id='user-testing'>
					<hr class='indent' /><h5>User Testing</h5>
					<p>From <a href='http://smartcart247.weebly.com/user-testing.html'>user testing</a>, several interface issues were highlighted, but most prominent was the ambiguity found in checking out. Shoppers were reminded of an online experience, instead of a physical store. We added additional dialogues and more obvious actions to simplify the checkout process. </p>

					<figure>
						<img src='images/smartcart/smartcartHiDef.jpg'>
						<figcaption>high-fidelity mockup of list &amp; map view</figcaption>
					</figure>

					<p>Aside from <a href='http://smartcart247.weebly.com/functional-2.html'>new features</a> to add to the app, user testing also revealed that shoppers found it very difficult to use the SmartCart application in coordination with the physical cart. The tablet seemed more like a peripheral accessory than an integrated shopping cart helper, so we designed a hardware enclosure to ease use and accessibility of the touchscreen.</p>

					<figure>
						<img src='images/smartcart/test2.jpg'>
						<img src='images/smartcart/case2.jpg'>
						<figcaption>iterations of acrylic hardware enclosures</figcaption>
					</figure>

				</section>
			</div>
		</div>
	</div>
</div>
<footer class='row'>
	<div class='large-12 large-centered columns light center'>
		<hr class='center'></hr>
		 <p>Elaine Zhou • 2015</p>
	</div>
</footer>

<% include templates/scripts %>

</body>
</html>