/*  PAGE SPECIFICS */
body#landing ::selection { background-color: #00C9D0; color: white; }
body#landing ::-moz-selection { background-color: #00C9D0; color: white; }
body#landing ::-o-selection { background-color: #00C9D0; color: white; }
body#landing ::-webkit-selection { background-color: #00C9D0; color: white; }

body#discoveroute ::selection { background-color: #ffc800; color: white; }
body#discoveroute ::-moz-selection { background-color: #ffc800; color: white; }
body#discoveroute ::-o-selection { background-color: #ffc800; color: white; }
body#discoveroute ::-webkit-selection { background-color: #ffc800; color: white; }
body#discoveroute .title-underline { border-bottom-color: #ffc800; }
body#discoveroute .case-study a:hover { color: #ffc800; }
body#discoveroute a:focus i, body#discoveroute a:hover i { color: #ffc800; }

body#smartcart ::selection { background-color: #2f6fb5; color: white; }
body#smartcart ::-moz-selection { background-color: #2f6fb5; color: white; }
body#smartcart ::-o-selection { background-color: #2f6fb5; color: white; }
body#smartcart ::-webkit-selection { background-color: #2f6fb5; color: white; }
body#smartcart .title-underline { border-bottom-color: #2f6fb5; }
body#smartcart .case-study a:hover { color: #2f6fb5; }
body#smartcart a:focus i, body#smartcart a:hover i { color: #2f6fb5; }

body#dais ::selection { background-color: #589a93; color: white; }
body#dais ::-moz-selection { background-color: #589a93; color: white; }
body#dais ::-o-selection { background-color: #589a93; color: white; }
body#dais ::-webkit-selection { background-color: #589a93; color: white; }
body#dais .title-underline { border-bottom-color: #589a93; }
body#dais .case-study a:hover { color: #589a93; }
body#dais a:focus i, body#dais a:hover i { color: #589a93; }

body#respiration ::selection { background-color: #00C9D0; color: white; }
body#respiration ::-moz-selection { background-color: #00C9D0; color: white; }
body#respiration ::-o-selection { background-color: #00C9D0; color: white; }
body#respiration ::-webkit-selection { background-color: #00C9D0; color: white; }

body#sixdegree ::selection { background-color: #010425; color: white; }
body#sixdegree ::-moz-selection { background-color: #010425; color: white; }
body#sixdegree ::-o-selection { background-color: #010425; color: white; }
body#sixdegree ::-webkit-selection { background-color: #010425; color: white; }
body#sixdegree .title-underline { border-bottom-color: #010425; }
body#sixdegree .case-study a:hover { color: #010425; }
body#sixdegree a:focus i, body#sixdegree a:hover i { color: #010425; }

/*  BASE */
body { font-family: 'Oxygen', sans-serif; background-color: #1c1c1c; height: 100%; width: 100%; }

h1, h2, h3, h4, h5 { font-family: 'Montserrat', Arial, serif; font-weight: 400; text-transform: uppercase; letter-spacing: 0.07rem; }

h3 { letter-spacing: 0.085rem; }

p { font-weight: 100; font-size: .85rem; line-height: 1.6em; }

footer { color: #696969; margin: 30px 0 15px; }

footer .light { background-color: white; color: #696969; padding: .5em 0 1.5em; }
footer .light hr { width: 60%; padding-bottom: 0.5em; }

blockquote { border-left: 0; margin: 2.7em 5em 2.5em; padding: 0.5em 10px; width: 40%; text-align: center; margin-left: auto; margin-right: auto; }
blockquote:before { color: #aaa; content: open-quote; font-size: 4em; line-height: 0.1em; margin-right: 0.25em; margin-left: -0.7em; vertical-align: -0.4em; }
blockquote footer { text-align: right; font-size: .85rem; font-style: italic; color: #aaa; margin: 0; }
blockquote p { display: inline; }

@media only screen and (max-width: 750px) { blockquote { margin: 2.7em 0em 2.5em; width: 100%; }
  blockquote:before { margin-right: 0.1em; margin-left: -0.3em; } }
/* UTILITES */
.vertical-center { position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.center { text-align: center; margin-left: auto; margin-right: auto; }

.no-margin { margin: 0; }

ul.centered-list { margin-left: 0; margin-top: 0.75rem; list-style-type: none; text-align: center; }
ul.centered-list li { display: block; margin: 0 10px; }
ul.centered-list li p { margin-bottom: 0.25rem; }

ul.centered-inline-list { list-style-type: none; text-align: center; margin-left: 0px; padding-top: 0.5rem; }
ul.centered-inline-list li { display: inline-block; margin: 0 10px; }

/* CORE ELEMENTS */
.title-underline { margin-bottom: 1em; border-bottom: 3px solid #00C9D0; display: inline-block; padding-bottom: 0.5em; }

.button { background-color: transparent; border-width: 1px; border-color: #696969; color: #696969; text-transform: uppercase; text-decoration: bold; letter-spacing: 0.1rem; font-weight: 700; }

.more-triangle { width: 0; height: 0; border-bottom: 70px solid #696969; border-left: 70px solid transparent; position: absolute; bottom: 0px; right: 0px; opacity: 0; transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -webkit-transition: opacity 0.2s ease-in-out; }

.major .more-triangle { border-bottom: 100px solid #696969; border-left: 100px solid transparent; }

.section-title { color: white; text-shadow: 1px 2px #146c6e; }

hr.indent { display: inline-block; width: 1.5em; height: 0px; margin: 5px 0 5px 0; margin-right: 10px; border-width: 1.75px; }

/* TODO: change to .tile instead of of .major */
#projects .major:hover { cursor: pointer; }

.major:hover .more-triangle { display: block; opacity: 0.6; }

.more-triangle i { margin-left: -40px; vertical-align: middle; color: white; padding-top: 60px; }

.minor .more-triangle i { padding-top: 40px; margin-left: -30px; }

.bio-img { max-height: 250px; }

ul.tiles { list-style: none; margin-left: 0px; }

.tile-row:nth-child(2n+1) .major { float: right; }

@media only screen and (min-width: 750px) { .tile { -webkit-transition: width 0.8s, height 0.8s; transition: width 0.8s, height 0.8s; } }
.tile { margin: 1rem 0; }

.tile-img { background-color: #F7F7F7; height: auto; }

.tile-img-light { background-color: white; margin: 1em 0 1.75em; }

.tile-text { padding: 1.5em 2.2em 2.2em; margin: 0 15px; background-color: white; }
.tile-text p { margin-bottom: 0; }

.minor { font-size: 80%; height: 24em; }
.minor .tile-img { height: 52%; }

.major { height: 40.4em; }
.major .tile-img { height: 75%; }

@media only screen and (max-width: 640px) { .minor { height: 24em; }
  .minor .tile-img { height: 60%; }
  .major { height: 30em; }
  .major .tile-img { height: 67%; } }
@media only screen and (max-width: 380px) { .minor .tile-img { height: 52%; }
  .major .tile-img { height: 65%; } }
#home { height: 100%; background-image: url("../images/starry1.png"); /*	background-image: -o-linear-gradient(to bottom, rgba(18, 18, 18, 0) 10%, rgba(18, 18, 18, 0.8) 68%), url('../images/starry1.png');
	background-image: -webkit-linear-gradient(to bottom, rgba(18, 18, 18, 0) 10%, rgba(18, 18, 18, 0.8) 68%), url('../images/starry1.png');
	background-image: -moz-linear-gradient(to bottom, rgba(18, 18, 18, 0) 10%, rgba(18, 18, 18, 0.8) 68%), url('../images/starry1.png');
	background-image: linear-gradient(to bottom, rgba(18, 18, 18, 0) 10%, rgba(18, 18, 18, 0.8) 68%), url('../images/starry1.png');*/ }

.intro-text { margin-bottom: 150px; }

.intro-text h3 { color: white; margin-top: 1rem; margin-bottom: 0.2rem; }

.intro-text p { color: #00C9D0; }

.pull-down { position: absolute; bottom: 0; left: 0; right: 0; display: block; }

.twinkle { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; display: block; }

.intro { z-index: 3; }

.twinkle { background: transparent url("../images/twinkle.svg") repeat top center; z-index: 1; -moz-animation: move-twink-back 1000s linear infinite; -ms-animation: move-twink-back 1000s linear infinite; -o-animation: move-twink-back 1000s linear infinite; -webkit-animation: move-twink-back 1000s linear infinite; animation: move-twink-back 1000s linear infinite; }

@keyframes move-twink-back { from { background-position: 0 0; }
  to { background-position: -10000px 5000px; } }
@-webkit-keyframes move-twink-back { from { background-position: 0 0; }
  to { background-position: -10000px 5000px; } }
@-moz-keyframes move-twink-back { from { background-position: 0 0; }
  to { background-position: -10000px 5000px; } }
@-ms-keyframes move-twink-back { from { background-position: 0 0; }
  to { background-position: -10000px 5000px; } }
.arrow { padding-bottom: 15px; }

.section-wrapper { height: 100%; z-index: 3; }

#projects { padding: 30px 0; }

#about { height: 100%; padding: 0; background-image: url("../images/starry1.png"); }

@media only screen and (max-width: 640px) { #about { height: auto; padding-bottom: 30px; } }
.about .logo-wrapper { margin-top: 1.75em; padding-right: 30px; }

a i { color: #1c1c1c; }

a i:focus, a i:hover { color: #00C9D0; }

/* case studies */
body.case-page { background-image: url("../images/starry1.png"); background-attachment: fixed; }

.case-study { background-color: white; padding: 2em 0 1em; }
.case-study a { color: #1c1c1c; border-bottom: 1px solid #CCCCCC; }
.case-study a:hover { color: #00C9D0; border-bottom: 1px solid #1c1c1c; }
.case-study .social-media a { border-bottom: 0px solid #1c1c1c; }
.case-study .social-media a:focus, .case-study .social-media a:hover { border-bottom-width: 0px; }

.case-title-img { text-align: center; margin-left: auto; margin-right: auto; margin: 3em 10px 0 10px; }
.case-title-img img { max-height: 10em; }

.case-title-img-small { background-size: contain; background-repeat: no-repeat; background-position: center center; height: 7em; padding-right: 10px; }

@media only screen and (max-width: 750px) { .case-title-img-small { height: 3em; } }
.case-content .video-wrapper { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; margin: 3em 5em; }
.case-content .video-wrapper figcaption { color: #696969; font-size: 0.8em; font-style: italic; }
@media only screen and (max-width: 750px) { .case-content figure { margin: 3em 0 !important; }
  .case-content .video-wrapper { margin: 3em 0; } }
.case-content .video-wrapper iframe, .case-content .video-wrapper object, .case-content .video-wrapper embed { position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 100%; height: 100%; }
.case-content .wrapper { margin: 3em 10px; }
.case-content figure { text-align: center; margin-left: auto; margin-right: auto; margin: 3em 5em; }
.case-content figure img { margin-bottom: 0.5em; }
.case-content figure figcaption { color: #696969; font-size: 0.8em; font-style: italic; }
.case-content h5 { color: #aaa; font-family: 'Oxygen', Arial, serif; font-weight: 300; letter-spacing: 0.15em; display: inline-block; margin-top: 1em; }

/* project specifics */
.tile-img { overflow: hidden; }

.tile-img .inner { height: 100%; background-size: contain; background-repeat: no-repeat; background-position: bottom right; }

#smartcart .tile-img .inner { background-position: bottom left; }

@media only screen and (min-width: 1024px) { #smartcart .tile-img .inner { margin-right: 80px; } }
#bdp .tile-img .inner { background-position: center; }

#discoveroute .tile-img .inner { position: relative; margin-right: 40px; top: 10px; }

#dais .tile-img .inner { background-position: center; }

#respiration .tile-img .inner { background-size: auto 100%; }

/* dot navigation */
@media only screen and (max-width: 1174px) { nav { display: none !important; } }
nav ul { line-height: 1.6; }

nav .dot-nav { margin-left: 5px; position: fixed; z-index: 1000; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

nav li { margin: 15px 0px; }

nav a { display: block; outline: none; text-align: left; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

nav a.dotstyle { left: 0; }

nav a.current { background: #fff; }

.nav-roundslide a { margin: 0 15px; position: absolute; background: #696969; -webkit-transition: width 0.3s, background-color 0.3s, padding 0.3s, box-shadow 0.3s; transition: width 0.3s, background-color 0.3s, padding 0.3s, box-shadow 0.3s; height: 15px; border-radius: 20px; }

.nav-roundslide a.dotstyle { border-radius: 20px; width: 10px; height: 10px; }

.back { position: fixed; left: 0px; top: 15px; }

.back a { background-color: transparent; color: #aaa; line-height: 12px; padding: 10px 0 20px; }

.nav-roundslide h1 { position: absolute; top: 0; margin: 0; color: #1c1c1c; text-transform: uppercase; white-space: nowrap; letter-spacing: 1px; font-weight: 400; font-size: 0.75em; line-height: 2.7em; display: none; -webkit-transition: display 0.3s, -webkit-transform 0.3s; transition: display 0.3s, transform 0.3s; }

.nav-roundslide a h1 { line-height: 30px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.nav-roundslide .back a:hover { padding: 10px 0 20px 5px; }

.nav-roundslide a:hover { padding: 15px; width: 130px; background: #fff; box-shadow: 0px 1px 1px 0px #696969; }

.nav-roundslide a:hover h1 { display: inline; -webkit-transition-delay: 0.1s; transition-delay: 0.1s; }
